{% extends "base.html" %}

{% block content %}


<section class="pb-4">

   <div class="bg-white border rounded-5" bis_skin_checked="1">
    <div class="container">
    {% if form.errors %}
      <div class="alert alert-danger">
        <strong>Error!</strong> {{form.errors.new_password2}}
      </div>
    {% endif %}
    </div>

    <section class="w-100 p-4 d-flex justify-content-center pb-4">
      <form style="width: 22rem;" method="post">
        {% csrf_token %}
        <div class="form-outline mb-4" bis_skin_checked="1">
          <input type="password" id="form2Example1" class="form-control" name="new_password1">
          <label class="form-label" for="form2Example1" style="margin-left: 0px;">Password</label>
        <div class="form-notch" bis_skin_checked="1"><div class="form-notch-leading" style="width: 9px;" bis_skin_checked="1"></div><div class="form-notch-middle" style="width: 88.8px;" bis_skin_checked="1"></div><div class="form-notch-trailing" bis_skin_checked="1"></div></div></div>

        <div class="form-outline mb-4" bis_skin_checked="1">
          <input type="password" id="form2Example2" class="form-control" name="new_password2">
          <label class="form-label" for="form2Example2" style="margin-left: 0px;">Confirm your password</label>
        <div class="form-notch" bis_skin_checked="1"><div class="form-notch-leading" style="width: 9px;" bis_skin_checked="1"></div><div class="form-notch-middle" style="width: 64px;" bis_skin_checked="1"></div><div class="form-notch-trailing" bis_skin_checked="1"></div></div></div>

        <div class="col d-flex justify-content-center" bis_skin_checked="1">
          <button type="submit" class="btn btn-primary btn-block mb-4">Reset my password</button>
        </div>

      </form>
    </section>
</section>
{% endblock content %}

{% block title %}
Confirm Password Reset
{% endblock %}