


<table style="margin-left: 10px">
      <thead><h4 style="margin-left: 20px">Incomes</h4></thead>
            <ul class="nav col-12 col-lg-auto mb-2 mb-md-0" style="margin-left: 20px">
            <li>
              <div class="dropdown">
                <a class="btn btn-primary" type="button" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
                  Add category
                </a>
                <div class="dropdown-menu create-new-transaction">
                  <form method="POST" action="{% url 'add-incomes-category' %}" class="note-form" enctype="multipart/form-data">{% csrf_token %}
                    <div class="modal-header " style="Padding:8px 16px; justify-content: center;">
                      <h7 class="modal-title"><b>Write category name</b></h7>
                    </div>


                      <div style="Padding:10px 20px;">

                          <textarea class="form-control" id="name" name="name" required placeholder="Start writing here.." style="height: 100px; margin-bottom: 20px" maxlength=50></textarea>

                          <div class="d-grid gap-3 justify-content-sm-end">
                            <p style="Margin: 12px 0px">
                              <input class="btn btn-outline-dark" type="reset" value="Reset" style="Padding: 2px 24px; Margin: 0px 8px">
                              <input class="btn btn-primary" type="submit" value="Post" style=" Padding: 2px 36px">
                            </p>
                          </div>
                      </div>
                  </form>
                </div>
              </div>
            </li>
            <li>
              <div class="dropdown">
                <a class="btn btn-success" type="button" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
                  New income
                </a>
                <div class="dropdown-menu create-new-transaction">
                  <form method="POST" action="{% url 'add-income' %}" class="note-form" enctype="multipart/form-data">{% csrf_token %}
                    <div class="modal-header " style="Padding:8px 16px; justify-content: center;">
                      <h7 class="modal-title"><b>New income</b></h7>
                    </div>


                      <div style="Padding:10px 20px;">
                          <label for="date" class="form-label" style="margin-right: 30px">Date: </label>
                          <input type="date" class="form-control" id="date" name="date" required style="margin-bottom: 20px" ></input>
                          <label for="amount" class="form-label" style="margin-right: 30px">Amount: </label>
                          <input type="number" min="0.01" step="0.01" max="9999999999999.99" class="form-control" id="amount" name="amount" required style="margin-bottom: 20px"></input>
                          <textarea class="form-control" id="narration" name="narration" placeholder="Start writing narration here.." style="height: 150px; margin-bottom: 20px" maxlength=100></textarea>
                          <div class="form-floating mb-1">
                            <div class="post-tags" style="margin-left: 0; margin-bottom: 20px">
                              <label for="category" class="form-label" style="margin-right: 30px">Category: </label>
                              <select class="form-select" name="category" id="category"  required style="width: 100%">
                                  {% for category in user.get_incomes_category %}
                                  <option value="{{category.id}}">{{category.name}}</option>
                                  {% endfor %}

                              </select>
                            </div>
                          </div>

                          <div class="d-grid gap-3 justify-content-sm-end">
                            <p style="Margin: 12px 0px">
                              <input class="btn btn-outline-dark" type="reset" value="Reset" style="Padding: 2px 24px; Margin: 0px 8px">
                              <input class="btn btn-primary" type="submit" value="Post" style=" Padding: 2px 36px">
                            </p>
                          </div>
                      </div>
                  </form>
                </div>
              </div>
            </li>
            </ul>
      <tr>
          <td style="border:solid">&nbsp;</td>
          <th style="border:solid">subtotal</th>
          {% for income in incomes %}
          <th style="border:solid">{{income.date}}</th>
          {% endfor %}
      </tr>

      {% for category in incomes_categories %}
        <tr>

            <th style="border:solid">


                <form action="{% url 'delete-incomes-category' %}" method="post">
                  {% csrf_token %}

                  <a class="nav-link px-2 text-black" type="button" data-bs-toggle="modal" aria-expanded="false" data-bs-target="#deleteIncomeCategoryModal{{ category.0.id }}" data-bs-auto-close="outside">


                  </a>

                  <div class="modal fade" id="deleteIncomeCategoryModal{{ category.0.id }}" tabindex="-1" aria-labelledby="deleteIncomeCategoryModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        {% if category.1 %}
                      <div class="modal-content">
                        <div class="modal-header">
                          <h1 class="modal-title fs-5" id="deleteIncomeCategoryModal">Category "{{ category.0.name }}" cannot be deleted due to existing entries</h1>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                      </div>
                        {% else %}}
                      <div class="modal-content">
                        <div class="modal-header">
                          <h1 class="modal-title fs-5" id="deleteIncomeCategoryModal">Are you sure you want to delete category <br>"{{ category.0.name }}"?</h1>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                          <button type="submit" class="btn btn-danger">Delete</button>
                            <input type="hidden" name="category_id" value="{{ category.0.id }}">
                        </div>
                      </div>
                        {% endif %}

                    </div>
                  </div>

                </form>

                <div class="col p-0">
                <div class="dropdown">
                  <a class="nav-link px-2 text-black"  type="button" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
                    {{ category.0.name }}

                  </a>
                  <div class="dropdown-menu" style="Padding:0px 0px; width: 200px">
                      <div class="row align-items-center">

                            <li>


                              <div class="dropdown">
                                <a class="px-4 text-black" type="button" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
                                  Edit category
                                </a>
                                <div class="dropdown-menu create-new-transaction">
                                  <form method="POST" action="{% url 'edit-incomes-category' %}" class="note-form" enctype="multipart/form-data">{% csrf_token %}
                                    <div class="modal-header " style="Padding:8px 16px; justify-content: center;">
                                      <a class="px-4 text-black" style="text-decoration: none;">Edit category name</a>
                                    </div>


                                      <div style="Padding:10px 20px;">

                                          <input class="form-control" value="{{ category.0.name }}" id="name" name="name"  required placeholder="Start writing here.." style="height: 100px; margin-bottom: 20px" maxlength=50></input>
                                          <input type="hidden" name="category_id" value="{{ category.0.id }}">
                                          <div class="d-grid gap-3 justify-content-sm-end">
                                            <p style="Margin: 12px 0px">
                                              <input class="btn btn-outline-dark" type="reset" value="Reset" style="Padding: 2px 24px; Margin: 0px 8px">
                                              <input class="btn btn-primary" type="submit" value="Post" style=" Padding: 2px 36px">

                                            </p>
                                          </div>
                                      </div>
                                  </form>
                                </div>
                              </div>
                            </li>
                            <li>
                                <a class="px-4 text-black" type="button" data-bs-toggle="modal" aria-expanded="false" style="text-decoration: none;" data-bs-target="#deleteIncomeCategoryModal{{ category.0.id }}" data-bs-auto-close="outside">Delete category</a>
                            </li>
                      </div>
                  </div>
                </div>
              </div>


            </th>
          <th style="border:solid">{{category.1 }}</th>
          {% for income in incomes %}
            {% if income.category.name == category.0.name %}
                <td style="border:solid">
                    <form action="{% url 'delete-income' %}" method="post">
                  {% csrf_token %}

                  <a class="nav-link px-2 text-black" type="button" data-bs-toggle="modal" aria-expanded="false" data-bs-target="#deleteIncomeModal{{ income.id }}" data-bs-auto-close="outside">


                  </a>

                  <div class="modal fade" id="deleteIncomeModal{{ income.id }}" tabindex="-1" aria-labelledby="deleteIncomeModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h1 class="modal-title fs-5" id="deleteIncomeModal">Are you sure you want to delete transaction <br>"{{ income.amount }} {{ income.narration }}"?</h1>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                          <button type="submit" class="btn btn-danger">Delete</button>
                            <input type="hidden" name="income_id" value="{{ income.id }}">
                        </div>
                      </div>
                    </div>
                  </div>

                </form>

                <div class="col p-0">
                <div class="dropdown">
                  <a class="nav-link px-2 text-black " type="button" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
                    {{income.amount}}

                  </a>
                  <div class="dropdown-menu" style="Padding:0px 0px; width: 200px">
                      <div class="row align-items-center">

                            <li>


                              <div class="dropdown">
                                <a class="px-4 text-black" type="button" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
                                  Edit transaction
                                </a>
                                <div class="dropdown-menu create-new-transaction">
                                  <form method="POST" action="{% url 'edit-income' %}" class="note-form" enctype="multipart/form-data">{% csrf_token %}

                                    <div class="modal-header " style="Padding:8px 16px; justify-content: center;">
                                      <h7 class="modal-title"><b>New income</b></h7>
                                    </div>


                                      <div style="Padding:10px 20px;">
                                          <label for="date" class="form-label" style="margin-right: 30px">Date: </label>
                                          <input type="date" value="{{ income.date|date:'Y-m-d' }}" class="form-control" id="date" name="date" required style="margin-bottom: 20px" ></input>
                                          <label for="amount" class="form-label" style="margin-right: 30px">Amount: </label>
                                          <input type="number" value="{{ income.amount }}" min="0.01" step="0.01" max="9999999999999.99" class="form-control" id="amount" name="amount" required style="margin-bottom: 20px"></input>
                                          <input class="form-control" value="{{ income.narration }}" id="narration" name="narration" placeholder="Start writing narration here.." style="height: 150px; margin-bottom: 20px" maxlength=100></input>
                                          <input type="hidden" name="income_id" value="{{ income.id }}">
                                          <div class="form-floating mb-1">
                                            <div class="post-tags" style="margin-left: 0; margin-bottom: 20px">
                                              <label for="category" class="form-label" style="margin-right: 30px">Category: </label>
                                              <select class="form-select" name="category_id" id="category_id"  required style="width: 100%">
                                                  {% for category in user.get_incomes_category %}

                                                   {% if income.category == category %}
                                                        <option  selected value="{{category.id}}">{{category}}</option>
                                                    {% else %}
                                                        <option value="{{category.id}}">{{category}}</option>
                                                    {% endif %}
                                                  {% endfor %}

                                              </select>
                                            </div>
                                          </div>

                                          <div class="d-grid gap-3 justify-content-sm-end">
                                            <p style="Margin: 12px 0px">
                                              <input class="btn btn-outline-dark" type="reset" value="Reset" style="Padding: 2px 24px; Margin: 0px 8px">
                                              <input class="btn btn-primary" type="submit" value="Post" style=" Padding: 2px 36px">
                                            </p>
                                          </div>
                                      </div>
                                  </form>
                                </div>
                              </div>
                            </li>
                            <li>
                                <a class="px-4 text-black" type="button" data-bs-toggle="modal" aria-expanded="false" style="text-decoration: none;" data-bs-target="#deleteIncomeModal{{ income.id }}" data-bs-auto-close="outside">Delete transaction</a>
                            </li>
                      </div>
                  </div>
                </div>
              </div>
                </td>
            {% else %}
                <td style="border:solid">&nbsp;</td>
            {% endif %}
          {% endfor %}

      </tr>
      {% endfor %}
      <tr>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          {% for income in incomes %}
          <td style="border:solid">{{income.narration}}</td>
          {% endfor %}
      </tr>
      <tr>
          <th style="border:solid">Total</th>
          <td style="border:solid">{{ incomes_total }} {{user.currency}}</td>
      </tr>


  </table>


    <p></p>
    <p></p>

  <table style="margin-left: 10px">
      <thead><h4 style="margin-left: 20px">Expenses</h4></thead>
        <ul class="nav col-12 col-lg-auto mb-2 mb-md-0" style="margin-left: 20px">
            <li>
              <div class="dropdown">
                <a class="btn btn-primary" type="button" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
                  Add category
                </a>
                <div class="dropdown-menu create-new-transaction">
                  <form method="POST" action="{% url 'add-expenses-category' %}" class="note-form" enctype="multipart/form-data">{% csrf_token %}
                    <div class="modal-header " style="Padding:8px 16px; justify-content: center;">
                      <h7 class="modal-title"><b>Write category name</b></h7>
                    </div>


                      <div style="Padding:10px 20px;">

                          <textarea class="form-control" id="name" name="name" required placeholder="Start writing here.." style="height: 100px; margin-bottom: 20px" maxlength=50></textarea>

                          <div class="d-grid gap-3 justify-content-sm-end">
                            <p style="Margin: 12px 0px">
                              <input class="btn btn-outline-dark" type="reset" value="Reset" style="Padding: 2px 24px; Margin: 0px 8px">
                              <input class="btn btn-primary" type="submit" value="Post" style=" Padding: 2px 36px">
                            </p>
                          </div>
                      </div>
                  </form>
                </div>
              </div>
            </li>

            <li>
              <div class="dropdown">
                <a class="btn btn-success" type="button" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
                  New expense
                </a>
                <div class="dropdown-menu create-new-transaction">
                  <form method="POST" action="{% url 'add-expense' %}" class="note-form" enctype="multipart/form-data">{% csrf_token %}
                    <div class="modal-header " style="Padding:8px 16px; justify-content: center;">
                      <h7 class="modal-title"><b>New expense</b></h7>
                    </div>


                      <div style="Padding:10px 20px;">
                          <label for="date" class="form-label" style="margin-right: 30px">Date: </label>
                          <input type="date" class="form-control" id="date" name="date" required style="margin-bottom: 20px" ></input>
                          <label for="amount" class="form-label" style="margin-right: 30px">Amount: </label>
                          <input type="number" min="0.01" step="0.01" max="9999999999999.99" class="form-control" id="amount" name="amount" required style="margin-bottom: 20px"></input>
                          <textarea class="form-control" id="narration" name="narration" placeholder="Start writing narration here.." style="height: 150px; margin-bottom: 20px" maxlength=100></textarea>
                          <div class="form-floating mb-1">
                            <div class="post-tags" style="margin-left: 0; margin-bottom: 20px">
                              <label for="category" class="form-label" style="margin-right: 30px">Category: </label>
                              <select class="form-select" name="category" id="category"  required style="width: 100%">
                                  {% for category in user.get_expenses_category %}
                                  <option value="{{category.id}}">{{category.name}}</option>
                                  {% endfor %}

                              </select>
                            </div>
                          </div>

                          <div class="d-grid gap-3 justify-content-sm-end">
                            <p style="Margin: 12px 0px">
                              <input class="btn btn-outline-dark" type="reset" value="Reset" style="Padding: 2px 24px; Margin: 0px 8px">
                              <input class="btn btn-primary" type="submit" value="Post" style=" Padding: 2px 36px">
                            </p>
                          </div>
                      </div>
                  </form>
                </div>
              </div>
            </li>

        </ul>
      <tr>
          <td style="border:solid">&nbsp;</td>
          <th style="border:solid">subtotal</th>
          {% for expense in expenses %}
          <th style="border:solid">{{expense.date}}</th>
          {% endfor %}
      </tr>

      {% for category in expenses_categories %}
       <tr>

            <th style="border:solid">


                <form action="{% url 'delete-expenses-category' %}" method="post">
                  {% csrf_token %}

                  <a class="nav-link px-2 text-black" type="button" data-bs-toggle="modal" aria-expanded="false" data-bs-target="#deleteExpenseCategoryModal{{ category.0.id }}" data-bs-auto-close="outside">


                  </a>

                  <div class="modal fade" id="deleteExpenseCategoryModal{{ category.0.id }}" tabindex="-1" aria-labelledby="deleteExpenseCategoryModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        {% if category.1 %}
                      <div class="modal-content">
                        <div class="modal-header">
                          <h1 class="modal-title fs-5" id="deleteExpenseCategoryModal">Category "{{ category.0.name }}" cannot be deleted due to existing entries</h1>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                      </div>
                        {% else %}
                      <div class="modal-content">
                        <div class="modal-header">
                          <h1 class="modal-title fs-5" id="deleteExpenseCategoryModal">Are you sure you want to delete category <br>"{{ category.0.name }}"?</h1>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                          <button type="submit" class="btn btn-danger">Delete</button>
                            <input type="hidden" name="category_id" value="{{ category.0.id }}">
                        </div>
                      </div>
                        {% endif %}


                    </div>
                  </div>

                </form>

                <div class="col p-0">
                <div class="dropdown">
                  <a class="nav-link px-2 text-black" type="button" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
                    {{ category.0.name }}

                  </a>
                  <div class="dropdown-menu" style="Padding:0px 0px; width: 200px">
                      <div class="row align-items-center">

                            <li>


                              <div class="dropdown">
                                <a class="px-4 text-black" type="button" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
                                  Edit category
                                </a>
                                <div class="dropdown-menu create-new-transaction">
                                  <form method="POST" action="{% url 'edit-expenses-category' %}" class="note-form" enctype="multipart/form-data">{% csrf_token %}
                                    <div class="modal-header " style="Padding:8px 16px; justify-content: center;">
                                      <a class="px-4 text-black" style="text-decoration: none;">Edit category name</a>
                                    </div>


                                      <div style="Padding:10px 20px;">

                                          <input class="form-control" value="{{ category.0.name }}" id="name" name="name"  required placeholder="Start writing here.." style="height: 100px; margin-bottom: 20px" maxlength=50></input>
                                          <input type="hidden" name="category_id" value="{{ category.0.id }}">
                                          <div class="d-grid gap-3 justify-content-sm-end">
                                            <p style="Margin: 12px 0px">
                                              <input class="btn btn-outline-dark" type="reset" value="Reset" style="Padding: 2px 24px; Margin: 0px 8px">
                                              <input class="btn btn-primary" type="submit" value="Post" style=" Padding: 2px 36px">

                                            </p>
                                          </div>
                                      </div>
                                  </form>
                                </div>
                              </div>
                            </li>
                            <li>
                                <a class="px-4 text-black" type="button" data-bs-toggle="modal" aria-expanded="false" style="text-decoration: none;" data-bs-target="#deleteExpenseCategoryModal{{ category.0.id }}" data-bs-auto-close="outside">Delete category</a>
                            </li>
                      </div>
                  </div>
                </div>
              </div>


            </th>
          <th style="border:solid">{{category.1 }}</th>
          {% for expense in expenses %}
            {% if expense.category.name == category.0.name %}
                <td style="border:solid">
                    <form action="{% url 'delete-expense' %}" method="post">
                  {% csrf_token %}

                  <a class="nav-link px-2 text-black" type="button" data-bs-toggle="modal" aria-expanded="false" data-bs-target="#deleteExpenseModal{{ expense.id }}" data-bs-auto-close="outside">


                  </a>

                  <div class="modal fade" id="deleteExpenseModal{{ expense.id }}" tabindex="-1" aria-labelledby="deleteExpenseModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h1 class="modal-title fs-5" id="deleteExpenseModal">Are you sure you want to delete transaction <br>"{{ expense.amount }} {{ expense.narration }}"?</h1>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                          <button type="submit" class="btn btn-danger">Delete</button>
                            <input type="hidden" name="expense_id" value="{{ expense.id }}">
                        </div>
                      </div>
                    </div>
                  </div>

                </form>

                <div class="col p-0">
                <div class="dropdown">
                  <a class="nav-link px-2 text-black " type="button" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
                    {{expense.amount}}

                  </a>
                  <div class="dropdown-menu" style="Padding:0px 0px; width: 200px">
                      <div class="row align-items-center">

                            <li>


                              <div class="dropdown">
                                <a class="px-4 text-black" type="button" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
                                  Edit transaction
                                </a>
                                <div class="dropdown-menu create-new-transaction">
                                  <form method="POST" action="{% url 'edit-expense' %}" class="note-form" enctype="multipart/form-data">{% csrf_token %}

                                    <div class="modal-header " style="Padding:8px 16px; justify-content: center;">
                                      <h7 class="modal-title"><b>New expense</b></h7>
                                    </div>


                                      <div style="Padding:10px 20px;">
                                          <label for="date" class="form-label" style="margin-right: 30px">Date: </label>
                                          <input type="date" value="{{ expense.date|date:'Y-m-d' }}" class="form-control" id="date" name="date" required style="margin-bottom: 20px" ></input>
                                          <label for="amount" class="form-label" style="margin-right: 30px">Amount: </label>
                                          <input type="number" value="{{ expense.amount }}" min="0.01" step="0.01" max="9999999999999.99" class="form-control" id="amount" name="amount" required style="margin-bottom: 20px"></input>
                                          <input class="form-control" value="{{ expense.narration }}" id="narration" name="narration" placeholder="Start writing narration here.." style="height: 150px; margin-bottom: 20px" maxlength=100></input>
                                          <input type="hidden" name="expense_id" value="{{ expense.id }}">
                                          <div class="form-floating mb-1">
                                            <div class="post-tags" style="margin-left: 0; margin-bottom: 20px">
                                              <label for="category" class="form-label" style="margin-right: 30px">Category: </label>
                                              <select class="form-select" name="category_id" id="category_id"  required style="width: 100%">
                                                  {% for category in user.get_expenses_category %}

                                                   {% if expense.category == category %}
                                                        <option  selected value="{{category.id}}">{{category}}</option>
                                                    {% else %}
                                                        <option value="{{category.id}}">{{category}}</option>
                                                    {% endif %}
                                                  {% endfor %}

                                              </select>
                                            </div>
                                          </div>

                                          <div class="d-grid gap-3 justify-content-sm-end">
                                            <p style="Margin: 12px 0px">
                                              <input class="btn btn-outline-dark" type="reset" value="Reset" style="Padding: 2px 24px; Margin: 0px 8px">
                                              <input class="btn btn-primary" type="submit" value="Post" style=" Padding: 2px 36px">
                                            </p>
                                          </div>
                                      </div>
                                  </form>
                                </div>
                              </div>
                            </li>
                            <li>
                                <a class="px-4 text-black" type="button" data-bs-toggle="modal" aria-expanded="false" style="text-decoration: none;" data-bs-target="#deleteExpenseModal{{ expense.id }}" data-bs-auto-close="outside">Delete transaction</a>
                            </li>
                      </div>
                  </div>
                </div>
              </div>
                </td>
            {% else %}
                <td style="border:solid">&nbsp;</td>
            {% endif %}
          {% endfor %}

      </tr>
      {% endfor %}
      <tr>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          {% for expense in expenses %}
          <td style="border:solid">{{expense.narration}}</td>
          {% endfor %}
      </tr>
      <tr>
          <th style="border:solid">Total</th>
          <td style="border:solid">{{ expenses_total }} {{user.currency}}</td>
      </tr>


  </table>